<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <text-input
                [control]="fc.email"
                [showWrrorsWhen]="isSubmitted"
                type="email"
                label="Email">

            </text-input>
            <text-input
                [control]="fc.password"
                [showWrrorsWhen]="isSubmitted"
                type="password"
                label="Password">

            </text-input>

            <defauld-button
                text="Login"></defauld-button>
        </form>
    </div>
</div>